<!DOCTYPE html>
<html>
	<html>
<head>
	<meta charset="UTF-8">
	<a href= "/" id= "navLink">Home</a>
	<a href= "about" id= "navLink">About</a>
	<link rel="stylesheet" href="style.css">
	<title>Supreme Goalie!</title>

	</head>
	<body>
	<body id = "bencho">
	<h1>TOP 10 High Scores</h1>
	<div id = "Hs-Input"> 
	</div>

	<script language="javascript" type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
	<script language="javascript" type="text/javascript" src="libraries/underscore-min.js"></script>
	<script language="javascript" type="text/javascript" src="libraries/p5.min.js"></script>
	<script language="javascript" type="text/javascript" src="libraries/p5.sound.js"></script>
	<script language="javascript" type="text/javascript" src="libraries/p5.speech.js"></script>
	<script language="javascript" type="text/javascript" src="libraries/p5.play.js"></script>
	<script language="javascript" type="text/javascript" src="libraries/p5.dom.js"></script>
	<script language="javascript" type="text/javascript" src="Hsketch.js"></script>
</body>
</html>